@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: auto;
  font-family: "Muller", "Work sans", sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1880px;
  margin: 0 auto;
}
.container-sm {
  max-width: 1000px;
  margin: 0 auto;
}
html > body > header {
  position: absolute;
  top: 48px;
  width: 100%;
}
html > body > header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
@media (max-width: 485px) {
  html > body > header > .container {
    gap: 20px;
    padding: 0 20px;
  }
}
@media (max-width: 485px) {
  html > body > header > div > a > img {
    width: 120px;
    height: 50px;
  }
}
html > body > header > div > a.contacts-link {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 400;
  color: #000000;
}
@media (max-width: 485px) {
  html > body > header > div > a.contacts-link {
    font-size: 16px;
  }
}
html > body > header > div > a.contacts-link::before {
  width: 25px;
  height: 30px;
  margin-right: 10px;
  content: "";
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 485px) {
  html > body > header > div > a.contacts-link::before {
    width: 20px;
    height: 20px;
  }
}
html > body > header > div > a.contacts-link:hover {
  color: #f9572e;
}
html > body > main > section.first-screen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  min-height: 100vh;
}
@media (max-width: 840px) {
  html > body > main > section.first-screen {
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
  }
}
@media (max-width: 396px) {
  html > body > main > section.first-screen {
    padding-top: 80px;
  }
}
html > body > main > section.first-screen > .info-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 7vh;
  margin-top: 15%;
  margin-right: 50px;
}
html > body > main > section.first-screen > .info-wrapper > h1 {
  margin: 0;
  margin-bottom: 25px;
  font-size: calc(28px + 36 * (100vw / 1880));
  line-height: calc(38px + 26 * (100vw / 1880));
  letter-spacing: -0.5px;
}
@media (max-width: 767px) {
  html > body > main > section.first-screen > .info-wrapper > h1 {
    font-size: calc(28px + (36 + 36 * 0.7) * ((100vw - 320px) / 1880));
    line-height: calc(38px + 26 * (100vw / 1880));
  }
}
html > body > main > section.first-screen > .info-wrapper > p {
  margin-bottom: 44px;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: -0.01px;
}
@media (max-width: 442px) {
  html > body > main > section.first-screen > .info-wrapper > p {
    font-size: 18px;
    line-height: 25px;
  }
}
html > body > main > section.first-screen > .info-wrapper > .learn-start {
  margin-bottom: 16vw;
}
@media (max-width: 1600px) {
  html > body > main > section.first-screen > .info-wrapper > .learn-start {
    margin-bottom: 9vw;
  }
}
@media (max-width: 1345px) {
  html > body > main > section.first-screen > .info-wrapper > .learn-start {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
}
@media (max-width: 840px) {
  html > body > main > section.first-screen > .info-wrapper > .learn-start {
    align-items: center;
    margin-bottom: 5vw;
    margin-left: 30px;
  }
}
@media (max-width: 442px) {
  html > body > main > section.first-screen > .info-wrapper > .learn-start {
    margin-left: 30px;
  }
}
html > body > main > section.first-screen > .info-wrapper > .learn-start > a {
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
  margin-right: 31px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.01px;
  color: #ffff;
  background-color: #f9572e;
  border-radius: 25px;
  box-shadow: 0px 7px 15px rgba(249, 87, 46, 0.6);
}
@media (max-width: 930px) {
  html > body > main > section.first-screen > .info-wrapper > .learn-start > a {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 50px;
  }
}
html > body > main > section.first-screen > .info-wrapper > .learn-start > a:hover {
  background-color: #ff7b59;
}
html > body > main > section.first-screen > .info-wrapper > .learn-start > span {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01px;
  color: #666666;
}
@media (max-width: 1345px) {
  html > body > main > section.first-screen > .info-wrapper > .learn-start > span {
    margin-left: 60px;
  }
}
@media (max-width: 930px) {
  html > body > main > section.first-screen > .info-wrapper > .learn-start > span {
    margin-left: 45px;
  }
}
@media (max-width: 840px) {
  html > body > main > section.first-screen > .info-wrapper > .learn-start > span {
    margin-left: -30px;
  }
}
html > body > main > section.first-screen > .info-wrapper > .header-scroll {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.01px;
  color: #f9572e;
}
@media (max-width: 840px) {
  html > body > main > section.first-screen > .info-wrapper > .header-scroll {
    display: none;
  }
}
html > body > main > section.first-screen > .info-wrapper > .header-scroll img {
  transition: 1s;
}
html > body > main > section.first-screen > .info-wrapper > .header-scroll:hover img {
  transform: scale(0.9) scaleX(0.8);
}
html > body > main > section.first-screen > .video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;
  margin-top: 20px;
  background-image: url("../img/video.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html > body > main > section.first-screen > .video-wrapper {
    background-image: url("../img/video@2x.jpg");
  }
}
@media (max-width: 840px) {
  html > body > main > section.first-screen > .video-wrapper {
    width: 90%;
    height: 350px;
    margin-top: 0;
  }
}
html > body > main > section.first-screen > .video-wrapper > button {
  width: 255px;
  height: 255px;
  cursor: pointer;
  background-image: url('../img/oval.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: inherit;
}
@media (max-width: 800px) {
  html > body > main > section.first-screen > .video-wrapper > button {
    width: 165px;
    height: 165px;
  }
}
html > body > main > section.first-screen > .video-wrapper > button > img {
  margin-top: 5px;
  margin-left: 25px;
  transition: 1s;
}
@media (max-width: 800px) {
  html > body > main > section.first-screen > .video-wrapper > button > img {
    width: 100px;
    height: 100px;
  }
}
html > body > main > section.first-screen > .video-wrapper > button:hover img {
  transform: scale(1.1);
}
html > body > main > section.first-screen > .video-wrapper > p {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 30px;
  color: #f9572e;
}
html > body > main > article.about-company {
  padding-top: 50px;
  padding-bottom: 100px;
  font-weight: 500;
}
html > body > main > article.about-company h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
}
html > body > main > article.about-company > div > p {
  margin: 0;
  margin-bottom: 60px;
  font-size: 16px;
  letter-spacing: 0.62px;
  color: #33b5a3;
}
html > body > main > article.about-company div.about-company-cards {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 80px;
       column-gap: 80px;
  row-gap: 100px;
}
html > body > main > article.about-company div.about-company-cards > section {
  width: 450px;
  padding-top: 30px;
  border-top: 3px solid #63d2c1;
}
html > body > main > article.about-company div.about-company-cards > section h3 {
  font-size: 24px;
}
html > body > main > article.about-company div.about-company-cards > section p {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
html > body > main > article.about-company div.about-company-cards > section:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  border: 3px solid #63d2c1;
}
html > body > main > article.about-company div.about-company-cards > section:last-child h3 {
  margin: 0;
  font-size: 64px;
}
html > body > main > article.about-company div.about-company-cards > section:last-child p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  color: #000000;
}
html > body > main > article.slider {
  position: relative;
  max-width: 1880px;
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
  margin-bottom: 130px;
  font-weight: 500;
}
html > body > main > article.slider > div > h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
}
html > body > main > article.slider > div > p {
  margin: 0;
  font-size: 16px;
  color: #33b5a3;
}
html > body > main > article.slider > .slider-wrapper {
  overflow: hidden;
  margin-left: -450px;
  padding-top: 50px;
  font-size: 13px;
  color: #666666;
}
html > body > main > article.slider > .slider-wrapper > .slider-content {
  display: flex;
  transition: 0.4s all;
}
html > body > main > article.slider > .slider-wrapper > .slider-content .slide {
  display: flex;
  max-width: 880px;
  opacity: 0.6;
}
html > body > main > article.slider > .slider-wrapper > .slider-content .slide > img {
  width: 700px;
  height: 500px;
}
html > body > main > article.slider > .slider-wrapper > .slider-content > .slide > p.slide-description {
  display: none;
  margin-top: 0;
  margin-left: 20px;
  width: 145px;
}
html > body > main > article.slider > .slider-wrapper > .slider-content > .slide > p.slide-description-active {
  position: relative;
  display: block;
}
html > body > main > article.slider > .slider-wrapper > .slider-arrows {
  position: absolute;
  right: 32%;
  bottom: 0;
  display: flex;
  gap: 32px;
}
html > body > main > article.slider > .slider-wrapper > .slider-arrows button {
  cursor: pointer;
  background-color: inherit;
  border: none;
  transition: 0.5s all;
}
html > body > main > article.slider > .slider-wrapper > .slider-arrows button:hover {
  transform: scale(0.9) scaleY(0.8);
}
html > body > main > article.slider > .slider-wrapper > .slider-content .slide-active {
  position: relative;
  margin-right: 70px;
  margin-left: -40px;
  opacity: 1;
}
@media (max-width: 1879px) {
  html > body > main > article.slider > .slider-wrapper > .slider-arrows {
    right: 17%;
  }
}
html > body > main > article.subscription {
  padding-top: 30px;
}
html > body > main > article.subscription > div {
  position: relative;
  margin-bottom: 135px;
  border: 3px solid #63d2c1;
}
html > body > main > article.subscription > div > section.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html > body > main > article.subscription > div > section.form h2 {
  position: absolute;
  top: -55px;
  padding: 0 20px;
  font-size: 40px;
  font-weight: 500;
  background-color: #ffff;
}
html > body > main > article.subscription > div > section.form > section.form-content > p.subscription-description {
  display: flex;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  font-weight: 400;
}
html > body > main > article.subscription > div > section.form > section.form-content > p.subscription-description::before {
  width: 46px;
  height: 69px;
  margin-right: 20px;
  content: "";
  background-image: url("../img/door.svg");
}
html > body > main > article.subscription > div > section.form > section.form-content input {
  width: 500px;
  height: 60px;
  padding: 18px 0 18px 25px;
  margin-bottom: 35px;
  border: 1px solid #cccccc;
}
html > body > main > article.subscription > div > section.form > section.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html > body > main > article.subscription > div > section.form > section.form-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html > body > main > article.subscription > div > section.form > section.form-content form > .form-item {
  position: relative;
  height: 60px;
  margin-bottom: 30px;
}
html > body > main > article.subscription > div > section.form > section.form-content form > .form-item label.form-label {
  position: absolute;
  top: 40%;
  left: 24px;
  cursor: text;
  font-size: 18px;
  font-weight: 400;
  color: #666666;
  transition: 0.5s;
}
html > body > main > article.subscription > div > section.form > section.form-content > form > .form-item > input:focus {
  border: 1px solid #000000;
  outline: none;
}
html > body > main > article.subscription > div > section.form > section.form-content > form > .form-item > input:focus ~ label,
html > body > main > article.subscription > div > section.form > section.form-content > form > .form-item > input:not(:focus):valid ~ label {
  top: -5px;
  padding: 0 7px;
  font-size: 13px;
  background-color: #ffff;
}
html > body > main > article.subscription > div > section.form > section.form-content > form button {
  padding: 15px 75px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 250px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01px;
  cursor: pointer;
  color: #ffff;
  background-color: #f9572e;
  border-radius: 25px;
  box-shadow: 0px 7px 15px rgba(249, 87, 46, 0.6);
  border: none;
}
html > body > main > article.subscription > div > section.form > section.form-content > form button:hover {
  background-color: #ff7b59;
}
html > body > main > article.subscription .subscription-necessarily,
html > body > main > article.subscription > div > section.form > section.form-content a {
  font-size: 13px;
  font-weight: 400;
}
html > body > main > article.subscription .subscription-necessarily {
  color: #666666;
}
html > body > main > article.subscription a {
  margin-bottom: 60px;
  color: #f9572e;
}
html > body > main > article.subscription > div > section > section.successfuly {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 150px 250px;
  text-align: center;
}
html > body > footer {
  background-color: #f2f2f2;
}
html > body > footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}
html > body > footer > div > article.social {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}
html > body > footer > div > article.social img:hover {
  opacity: 0.8;
  box-shadow: 0px 15px 20px rgba(249, 87, 46, 0.7);
}
html > body > footer > div > section.description {
  width: 440px;
  text-align: center;
}
html > body > footer > div > section.description > p {
  margin-bottom: 5px;
  font-size: 21px;
}
html > body > footer > div > section.description > p:last-child {
  margin-bottom: 75px;
  font-size: 16px;
  color: #666666;
}
html > body > footer > div > section.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
html > body > footer > div > section.contact .phone {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 21px;
  color: #000000;
}
html > body > footer > div > section.contact .phone::before {
  width: 25px;
  height: 25px;
  content: "";
  background-image: url("../img/phone.svg");
}
html > body > footer > div > section.contact .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 21px;
}
html > body > footer > div > section.contact .address > span {
  font-size: 16px;
  color: #666666;
}
html > body > footer > div > section.contact .mail {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 21px;
  color: #000000;
}
html > body > footer > div > section.contact .mail > span {
  border-bottom: 2px solid #f9572e;
}
html > body > footer > div > section.contact .mail:hover {
  color: #f9572e;
}
html > body > footer > div > section.contact .mail::before {
  width: 32px;
  height: 21px;
  padding-right: 10px;
  content: "";
  background-image: url("../img/mail.svg");
}
html > body > footer .line {
  width: 90%;
  height: 1px;
  margin: 60px auto 30px auto;
  background-color: #cccccc;
}
html > body > footer .rights {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin: 0;
  font-size: 16px;
  color: #666666;
}
