@import "../variables.less";

html > body > main > article.about-company
{
	padding-top: 50px;
	padding-bottom: 100px;

	font-weight: 500
}

html > body > main > article.about-company h2
{
	margin: 0;
	margin-bottom: 10px;

	font-size: 40px;
}

html > body > main > article.about-company > div > p
{
	margin: 0;
	margin-bottom: 60px;

	font-size: 16px;
	letter-spacing: 0.62px;

	color: @light-green;
}

html > body > main > article.about-company  div.about-company-cards
{
	display: flex;
	flex-wrap: wrap;
	column-gap: 80px;
	row-gap: 100px;
}

html > body > main > article.about-company  div.about-company-cards > section
{
	width: 450px;
	padding-top: 30px;

	border-top: 3px solid @emerald-green;
}

html > body > main > article.about-company  div.about-company-cards > section h3
{
	font-size: 24px;
}

html > body > main > article.about-company  div.about-company-cards > section p
{
	font-size: 16px;
	font-weight: 400;

	color: @gray;
}

html > body > main > article.about-company  div.about-company-cards > section:last-child
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 40px 0;

	border: 3px solid @emerald-green;
}

html > body > main > article.about-company  div.about-company-cards > section:last-child h3
{
	margin: 0;

	font-size: 64px;
}

html > body > main > article.about-company  div.about-company-cards > section:last-child p
{
	margin: 0;
	margin-bottom: 10px;

	font-size: 24px;

	color: @black;
}

