@import "../variables.less";

html > body > header > .container
{
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 50px;
	padding-top: 48px;
}

html > body > header > div > span a
{
	display: flex;
	align-items: center;

	font-size: 21px;
	font-weight: 400;

	color: @black;
}

html > body > header > div > span a::before
{
	width: 25px;
	height: 30px;
	margin-right: 10px;

	content: "";

	background-image: url("../img/phone.svg");
	background-repeat: no-repeat;
}

html > body > header > div > span a:hover
{
	color: @orange;
}
