@import "../variables.less";

html > body > main > section.first-screen
{
	display: flex;
	align-items: center;
	justify-content: space-between;

	min-width: 100%;
	min-height: 100vh;
}

html > body > main > section.first-screen > .info-wrapper
{
	display: flex;
	flex-direction: column;

	padding-left: 7vh;
	margin-top: 15%;
	margin-right: 50px;
}

html > body > main > section.first-screen > .info-wrapper > h1
{
	margin: 0;
	margin-bottom: 25px;

	font-size: 64px;
	line-height: 64px;
	letter-spacing: -0.5px;

	@media (max-width: 1065px)
	{
		font-size: 44px;
	}
}

html > body > main > section.first-screen > .info-wrapper > p
{
	margin-bottom: 44px;

	font-size: 21px;
	line-height: 30px;
	letter-spacing: -0.01px;
}

html > body > main > section.first-screen > .info-wrapper > .learn-start
{
	margin-bottom: 20vh;

	@media (max-width: 1065px)
	{
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 15px;
	}
}

html > body > main > section.first-screen > .info-wrapper > .learn-start > a
{
	padding-top: 17px;
	padding-right: 28px;
	padding-bottom: 15px;
	padding-left: 31px;
	margin-right: 31px;

	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: -0.01px;

	color: @white;
	background-color: @orange;

	border-radius: 25px;
	box-shadow: 0px 7px 15px rgba(249, 87, 46, 0.6);
}

html > body > main > section.first-screen > .info-wrapper > .learn-start > a:hover
{
	background-color: @orange-hover;
}

html > body > main > section.first-screen > .info-wrapper > .learn-start > span
{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.01px;

	color: @gray;

	@media (max-width: 1065px)
	{
		margin-left: 60px;
	}
}

html > body > main > section.first-screen > .info-wrapper > .header-scroll
{
	display: flex;
	align-items: center;
	gap: 12px;

	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.01px;

	color: @orange;
}

html > body > main > section.first-screen > .info-wrapper > .header-scroll img
{
	transition: 1s;
}

html > body > main > section.first-screen > .info-wrapper > .header-scroll:hover img
{
	transform: scale(0.9) scaleX(0.8);
}

html > body > main > section.first-screen > .video-wrapper
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100vh;
	height: 100vh;
	margin-top: 20px;

	background-image: url("../img/video.jpg");
	@media (min-resolution: 2dppx) {
		background-image: url("../img/video@2x.jpg");
	}
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

html > body > main > section.first-screen > .video-wrapper > button
{
	width: 255px;
	height: 255px;

	cursor: pointer;

	background-image: url('../img/oval.svg');
	background-repeat: no-repeat;

	border: none;
	background-color: inherit;
}

html > body > main > section.first-screen > .video-wrapper > button > img
{
	margin-top: 15px;
	margin-left: 25px;

	transition: 1s;
}

html > body > main > section.first-screen > .video-wrapper > button:hover img
{
	transform: scale(1.10);
}

html > body > main > section.first-screen > .video-wrapper > p
{
	margin-top: 10px;
	margin-bottom: 15px;

	font-size: 21px;
	line-height: 30px;

	color: @orange;
}
